<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body style="background-color: #ededed;align-items: center;">

	<nav th:replace="layouts :: navbar"></nav>
	<br/>
	
	<div class="container-fluid" style="margin-top: 30px; margin: auto;">
	
	<!--  <form action="/projects/save" th:object="${project}" method="POST" > -->
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd; margin: auto; align-items: center;">
		
		<form th:action="@{/projects/save}" th:object="${project}" method="POST" style="margin: auto; align-items: center;" >
		
			<h3>Project</h3>
			
			<input type="hidden" th:field="${project.projectId}" />
			
			<div class="" >
				<input  class="form-control" type="text" placeholder="Project Name" th:field="${project.name}" required >
			</div>
			
			<br>
			
			<div class="">
				<select  th:field="${project.stage}" class="form-control">
					<option th:value="NOTSTARTED">Not Started</option>
					<option th:value="INPROGRESS">In Progress</option>
					<option th:value="COMPLETED">Completed</option>
				</select>
			</div>
			<br>
			<div class="">
				<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}" class="form-control" required></textarea>
			</div>
			<br>
			<div class="">
				<!-- employees is a property of project (we use * to indicate that it is a property of the parent), the simple way to use ${project.employees} -->
				<select class="form-control form-control-sm" th:field="*{employees}" multiple="multiple">
					<option th:each="employee : ${allEmployees}"
							th:value = "${employee.employeeId}"
							th:text= ${employee.firstName}> <!-- ${allEmployees} will define this variable in the java code -->
				</select>
			</div>
			
			<br>
			
			Project Start Date:
			<div class="" >
				<input id="dp3" type="text" class="form-control" value="Start Date" th:field="${project.startDate}" required>
			</div>
			
			
			Project End Date:
			<div class="">
				<input id="dp4" type="text" class="form-control" value="End Date" th:field="${project.endDate}" required>
			</div>
			
			<script type="text/javascript">
		      	$('#dp3').datepicker();	
		      	$('#dp4').datepicker();
		    </script>
			
			<br>
			
			
			<div class="form-group">
				<div class="">
					<button class="btn btn-primary btn-block" type="submit">Enter Project</button>
				</div>
			</div>
			
		</form>
	</div>
</div>
</body>

</html>